body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
}

.main-header {
    height: 50px;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-flow: row;
}


#site-icon {
    background-image: url('../img/logo.svg');
    background-size: cover;
    width: 50px;
    height: 100%;
    margin-left: 5px;
}

.main-header-left,
.main-header-right {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header-right {
    width: 100%;
    justify-content: right;
}

.header-button {
    font-size: 15px;
    font-weight: 500;
    margin: 5px;
    height: 65%;
    display: grid;
    place-items: center;
    background-color: rgb(200, 200, 200);
    padding: 0 10px;
    border-radius: 50px;
    border: 1px solid rgb(230, 230, 200);
    cursor: pointer;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.header-button:hover {
    background-color: whitesmoke;
    border: 1px solid black;
    box-sizing: border-box;

}

@media screen and (max-width: 1080px) {
    .main-header {
        height: 150px;
    }

    #site-icon {
        width: 150px;
        margin-left: 10px;
    }

    .header-button {
        font-size: 30px;
        padding: 0 20px;
        border: 2px solid rgb(230, 230, 200);
    }

    .header-button:hover {
        border: 2px solid black;
    }
}