@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Sofia Sans", sans-serif;
  background-color: rgb(78, 78, 78);
}

#full-page-body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
}

.main-header {
  height: 75px;
  background-color: rgb(228, 228, 228);
  width: 100%;
  display: flex;
  flex-flow: row;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: #797979a6 0 0 15px 5px;
  caret-color: rgba(0, 0, 0, 0);
  transition: height 0.2s ease;
}

#site-icon {
  background-image: url("../img/logo.svg");
  background-size: cover;
  width: 75px;
  height: 100%;
  margin-left: 10px;
}

#site-icon:hover {
  cursor: pointer;
}

.main-header-right-container {
  width: 100%;
  display: flex;
  justify-content: right;
  position: relative;
}

.main-header-left,
.main-header-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header-right {
  display: flex;
  flex-flow: row;
  overflow-x: auto;
  max-width: 85vw;
}

.header-button {
  font-size: 17px;
  font-weight: 500;
  margin: 5px 10px;
  height: 65%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 200);
  padding: 0 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-out, border-radius 0.3s ease;
  box-sizing: border-box;
  width: 200px;
  min-width: 140px;
  user-select: none;
  gap: 5px;
  z-index: 100;
  pointer-events: all;
}

.header-button-selected {
  background-color: whitesmoke;
  border: 1px solid #afd600;
}

.header-botton-icon {
  height: 30px;
}

.main-body {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: height 0.2s ease;
  min-height: calc(100vh - 75px - 250px);
}

.body-window {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.main-body-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 60px 0 0;
  max-width: 1500px;
}

.body-title {
  color: rgb(78, 78, 78);
  font-size: 40px;
  font-weight: 500;
}

.main-body-title-title {
  display: flex;
  justify-content: center;
  width: 330px;
}

.main-body-title-buy-container {
  width: 230px;
  height: 60px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.main-body-title-buy-button {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  display: grid;
  align-items: center;
  color: rgb(78, 78, 78);
  caret-color: rgba(0, 0, 0, 0);
  user-select: none;
  border: 3px solid rgb(78, 78, 78);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.main-body-title-buy-button:hover {
  background-color: rgb(78, 78, 78);
  color: rgb(200, 200, 200);
  cursor: pointer;
}

.main-body-title-buy-button h6 {
  margin: auto;
}

.main-body-container-display {
  width: 80%;
  max-width: 1500px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0 0;
  gap: 60px;
  z-index: 100;
}

#main-body-display-img-container *:hover {
  cursor: grab;
}

.main-body-display-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  background-color: rgb(228, 228, 228);
}

#main-body-display-img img {
  width: 100%;
  position: relative;
}

.main-body-display-img-swapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: translateX 0.3s ease;
}

.main-body-display-move {
  height: 100%;
  width: 20%;
  position: absolute;
  opacity: 0;
  user-select: none;
  caret-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity 0.3s;
}

#main-body-display-left {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(92, 92, 92, 0.9) 8%,
    rgba(255, 255, 255, 0) 100%
  );
}

#main-body-display-right {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 8%,
    rgba(92, 92, 92, 0.9) 100%
  );
}

.main-body-display-move:hover {
  opacity: 0.7;
}

.main-header-move-menu {
  height: 100%;
  width: 5%;
  position: absolute;
  user-select: none;
  caret-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 101;
  pointer-events: none;
}

#main-header-move-menu-left {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(92, 92, 92, 0.9) 8%,
    rgba(255, 255, 255, 0) 100%
  );
}

#main-header-move-menu-right {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 8%,
    rgba(92, 92, 92, 0.9) 100%
  );
}

.main-body-container-left,
.main-body-container-right {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 480px;
}
.main-body-display-img-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.main-body-display-img-overlay-png {
  background: url("../img/nike-overlay.png");
  background-size: contain;
  opacity: 0%;
}

.main-overlay-canvas {
  position: absolute;
  background-image: url("../img/nike-shoe-orange-white2.png");
  background-size: contain;
  display: flex;
  align-self: center;
  opacity: 0%;
}

.main-body-container-control-box {
  width: 100%;
  background-color: rgb(228, 228, 228);
  border-radius: 30px;
}

.main-body-container-control-box-row {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
}

.main-body-container-control-box-row-half {
  display: flex;
  flex-flow: row;
  width: 40%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.main-body-container-control-box-item {
  height: 55%;
  background-color: #00d79b;
  aspect-ratio: 1/1;
  border-radius: 25%;
  background-color: rgb(200, 200, 200);
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
  opacity: 0.6;
  box-sizing: border-box;
  caret-color: rgba(0, 0, 0, 0);
}

#control-box-range-container {
  flex-flow: column;
  justify-content: space-evenly;
}

#control-box-range-text {
  height: 30%;
  margin: -10px 0;
  font-size: 25px;
  font-weight: 400;
}

.control-box-range {
  height: 60%;
  width: 80%;
  caret-color: rgba(0, 0, 0, 0);
  outline: 0;
}

#control-box-range {
  background: linear-gradient(
    to right,
    #5a5a5a 0%,
    #5a5a5a 0%,
    #fff 0%,
    #fff 100%
  );
  border: 0px;
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: black;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 30%;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: black;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 30%;
}

.main-body-container-control-box-item:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: rgba(90, 90, 90, 0.616) 0 0 5px 2px;
}

#pause-timer-button {
  background-image: url("../img/play-icon.svg");
  background-image: url("../img/pause-icon.svg");
  background-size: contain;
  opacity: 1;
}

#set-default-button {
  background-color: rgba(90, 90, 90, 0.8);
}

#set-png-button {
  background-color: #e4e81e;
}

#set-svg-button {
  background-color: hsl(163, 100%, 49%);
}

#set-bezier-button {
  background-color: rgb(252, 170, 38);
}

.main-body-container-control-box-item-clicked {
  opacity: 1;
  box-shadow: rgba(90, 90, 90, 0.616) 0 0 5px 2px;
}

.main-body-display-selected-img-icon-container {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 200px;
  height: 50px;
  display: flex;
  flex-flow: row;
  gap: 10%;
  align-items: center;
}

.main-body-display-selected-img-icon {
  width: 12px;
  height: 12px;
  transform: scale(1);
  border-radius: 50px;
  transition: transform 0.2s ease-in-out;
}

.main-body-display-selected-img-icon-selected {
  transform: scale(2);
  box-shadow: rgba(119, 119, 119, 0.521) 0 0 3px 1px;
}

#main-body-display-selected-img-icon-default {
  background-color: #5a5a5a;
}
#main-body-display-selected-img-icon-png {
  background-color: #e4e81e;
}
#main-body-display-selected-img-icon-svg {
  background-color: #00d79b;
}
#main-body-display-selected-img-icon-bezier {
  background-color: #fcaa26;
}

.main-body-display-selected-img-icon-overlay {
  width: 12px;
  height: 12px;
  background-color: black;
  transform: scale(1);
  border-radius: 50px;
  transition: transform 0.2s ease-in-out;
}

.main-body-display-selected-img-icon-overlay-selected {
  transform: scale(0.6);
}

.main-body-display-selected-img-title {
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 30px;
  font-weight: 500;
  color: rgb(78, 78, 78);
  caret-color: rgba(0, 0, 0, 0);
}

.main-body-container-gallery {
  width: 80%;
  height: 100%;
}

.main-body-container-gallery img {
  height: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.main-body-container-gallery-row {
  width: 100%;
  height: 49%;
  display: flex;
  flex-flow: row;
  gap: 2.5%;
}
.main-body-container-gallery-row-top {
  width: 100%;
  height: 49%;
  margin-bottom: 2%;
}

.main-body-container-gallery-item {
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 30px;
  overflow: hidden;
}

.main-body-container-gallery-tl {
  width: 32.5%;
}

.main-body-container-gallery-tr {
  width: 65%;
}

.main-body-container-gallery-bl {
  width: 65%;
}

.main-body-container-gallery-br {
  width: 32.5%;
}

.main-body-container-box {
  width: 80%;
  margin: 0;
}

.main-body-container-left-text {
  color: rgb(228, 228, 228);
  padding: 0 20%;
  font-size: 22px;
  font-weight: 500;
}

.main-body-container-right-text {
  color: rgb(228, 228, 228);
  padding: 0 10% 0 30%;
  font-size: 22px;
  font-weight: 500;
}

.main-body-container-right-imgcon {
  background-color: #f6f6f6;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.half-width-img {
  width: 430px;
  position: relative;
  width: 90%;
  margin: 20% 5%;
}

.half-width-img-overlay {
  position: absolute;
  width: 90%;
  margin: 20% 5%;
  opacity: 70%;
}
.half-width-img-overlay-svg {
  position: absolute;
  width: 38.9%;
  top: 43.5%;
  left: 48.4%;
  opacity: 70%;
}
.half-width-img-overlay-canvas {
  position: absolute;
  background-image: url("../img/nike-shoe-orange-white2.png");
  background-size: contain;
}

.footer {
  width: 80%;
  max-width: 1500px;
  height: 100px;
  border-top: rgba(200, 200, 200, 0.7) 1px solid;
  margin-top: 100px;
  margin: auto auto 0;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #e4e4e4;
}

.footer-item a {
  color: inherit;
  font-size: 15px;
  text-decoration: inherit;
  transition: color 0.3s ease;
}

.footer-item a:hover {
  color: white;
}

.footer-item a::after {
  color: inherit;
  text-decoration: inherit;
}

.footer-item img {
  width: 25px;
  margin-right: 5px;
}

@media screen and (min-width: 1300px) {
  .main-body-container-gallery img {
    height: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .main-body-container-gallery {
    width: 80%;
  }
  .main-body-container-gallery-row {
    flex-flow: column;
    margin: 0;
    align-items: center;
  }
  .main-body-container-gallery-item {
    margin-bottom: 5%;
    max-width: 480px;
    width: 100%;
  }
  .main-body-container-gallery img {
    height: auto;
    padding: 10% 0;
    width: 80%;
    min-width: 150px;
  }
  .main-body-container-box {
    flex-flow: column;
  }
  .main-body-container-left-text,
  .main-body-container-right-text {
    padding: 0 10% 60px;
  }
  .main-body-display-selected-img-icon,
  .main-body-display-selected-img-icon-overlay {
    width: 10px;
    height: 10px;
  }
  .main-body-display-selected-img-title {
    font-size: 25px;
  }
  .main-body-container-control-box-row {
    flex-flow: column;
    height: 50%;
  }
  .main-body-container-control-box-row-half {
    width: 100%;
  }
  .main-body-container-control-box {
    height: 400px;
  }
}

@media screen and (max-width: 630px) {
  .main-header {
    flex-flow: column;
    height: 150px;
  }
  .main-header-left,
  .main-header-right-container {
    height: 50%;
  }
  .main-header-left {
    justify-content: center;
  }
  .main-header-right::-webkit-scrollbar {
    display: none;
  }
  .main-header-right {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-x: scroll;
    max-width: 100vw;
    border-top: 8px solid #4e4e4e;
    box-sizing: border-box;
  }
  .main-body-container-right-text,
  .main-body-container-left-text {
    font-size: 18px;
  }
  .main-body-display-selected-img-icon,
  .main-body-display-selected-img-icon-overlay {
    width: 8px;
    height: 8px;
  }
  .main-body-display-selected-img-title {
    font-size: 20px;
    padding-top: 10px;
  }
  .body-title {
    font-size: 30px;
  }
  .main-body-title-buy-container {
    width: 150px;
    height: 40px;
  }
  .main-body-container-control-box {
    height: 230px;
  }
}

@media screen and (max-width: 450px) {
  .main-body-container-gallery {
    width: 95%;
  }
  .main-body-container-gallery-item {
    border-radius: 20px;
  }
  #main-body-display-img {
    border-radius: 20px;
  }
  .main-body-container-display,
  .main-body-container {
    margin: 10px 0;
  }
  .main-body-container-right-imgcon {
    border-radius: 20px;
  }
  .main-body-container-box {
    width: 95%;
  }
  .main-body-container-right {
    width: 100%;
  }
  .main-body-container-right-text,
  .main-body-container-left-text {
    font-size: 13px;
  }
  .main-body-display-selected-img-icon-container {
    width: 100px;
  }
  .main-body-display-selected-img-icon,
  .main-body-display-selected-img-icon-overlay {
    width: 6px;
    height: 6px;
  }
  .main-body-display-selected-img-title {
    font-size: 12px;
    padding-top: 15px;
  }
  .main-body-display-selected-img-title {
    font-size: 20px;
    padding-top: 10px;
  }
  .body-title {
    font-size: 30px;
  }
  .main-body-title-buy-container {
    width: 150px;
    height: 40px;
  }
  .main-body-container-control-box {
    height: 230px;
    border-radius: 20px;
  }
  .main-body-display-img {
    width: 100%;
  }
  .main-body-container-display {
    width: 95%;
    gap: 10px;
  }
}

@keyframes flyInAnimationLeft {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyInAnimationRight {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
